.customPagination {
    margin-top: 5px;
    background-color: white;
    /* border-radius: 3px; */
}

.customPagination>a {
    padding: 5px 15px;
}

.product-list {
    position: relative;
}

lightning-formatted-number {
    position: absolute;
    font-size: larger;
    left: 20px;
    bottom: 20px;
    font-family: sans-serif;


}

lightning-button {
    position:absolute;
    right: 20px;
    bottom: 20px;
}

.product-name {
    color: black;
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: sans-serif;

}

lightning-input {    
    width: fit-content;
}

img{
    width: 70%;
    height: auto;
    margin-left: 15%;
}