/* .product-list {
    position: relative;
}

lightning-formatted-number {
    position: absolute;
    font-size: larger;
    left: 20px;
    bottom: 20px;
    font-family: sans-serif;


}

lightning-button {
    position:absolute;
    right: 20px;
    bottom: 20px;
}

.product-name {
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: sans-serif;

}

lightning-input {    
    width: fit-content;
}

img{
    width: 70%;
    height: auto;
    margin-left: 15%;
}
 */






/*.product-tile {
    border: 1px solid #d2955d;
    border-radius: .25rem;
    display: block;
}*/

/*
.product-list {
    position: relative;
    border-radius: 10px;
    margin: 40px 20px 40px 15px;
    flex-wrap: wrap;
    padding-right: 40px;
    width: 450px;
    height: 500px;
    display: flex;
    
}*/



/*
.title {
    font-weight: strong;
}

.product-img {
    max-width: 100px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(159, 159, 159);
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
*/